# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# save files
*.obscura
/node_modules/jquery
/bower_components
/node_modules/packet
/node_modules/q
/node_modules/underscore
/node_modules/electron-settings
/node_modules/jsonfile
/node_modules/clone
/node_modules/graceful-fs
/node_modules/bootstrap
