body, input {
  background-color: #000;
  color: #FFF;
  font-family: "Trebuchet MS";
  font-size: 18px;
  overflow: hidden;
}

#pollTimeOut {
  width: 400px;
  background-color: #ddd;
}

#pollBar {
  width: 100%;
  height: 10px;
  background-color: #6699ff;
}

div.statusCircle{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 10px;
}
div.online{
  background-color: #33cc33;
}
div.offline {
  background-color: #cc0000;
}
div.updating {
  background-color: #ffcc00;
}

.node-div {
    top: 0;
    width: 99%;
    height: 80%;
    overflow: scroll;
    border: 4px solid #333;
    border-radius: 5px;
}

button {
    font-family: "Lucida Console";
    font-size: 15px;
    color: #FFF;
    border-radius: 2px;
    padding: 2px 6px 2px;
}

button:disabled {
  color: #555;
}

button.btn-primary {
  background-color: #44D;
  border: 2px solid #44D;
}

button.btn-default {
  background-color: #444;
  border: 2px solid #444;
}

button.btn-xl {
  font-size: 18px;
  padding: 5px 10px 5px;
}

button.btn-vis {
  color: #FFF;
}

.col-1 {
  width: 50px
}

.col-2 {
  width: 100px
}

.col-3 {
  width: 150px
}

.col-4 {
  width: 200px
}

.col-5 {
  width: 250px
}

#node-table {
  border-collapse: collapse;
  table-layout: fixed;
  overflow:hidden;
  margin: 2px;
  height: 30px;
  text-align: center;
}

#node-table td, #node-table th {
  border: 1px solid #ddd;
  overflow: hidden;
}

#node-table tr:nth-child(even){background-color: #333;}

#node-table tr:hover {background-color: #999;}

#node-table th {
  position: static;
  height: 40px;
  padding: 1px 10px 1px;
  background-color: #555;
  color: white;
}
